<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <title>Rise of NFT's</title>
      <!-- Favicons -->
      <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
      <!-- Vendor CSS Files -->
      <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
      <!-- Template Main CSS File -->
      <link href="assets/css/style.css" rel="stylesheet">
    
   </head>
   <body>
      <!-- ======= Header ======= -->
      <header id="header" class="fixed-top">
         <div class="container d-flex ">
            <h1 class="logo"><a href="index.html"><img src="assets/img/logo.png"></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            <div class="divider">
               <img src="assets/img/divider.png">
            </div>
            <nav id="navbar" class="navbar">
               <ul>
                  <li><a class="nav-link scrollto active" href="#hero">Whitepaper</a></li>
                  <li><a class="nav-link scrollto" href="#about">Blog</a></li>
                  <li><a class="nav-link scrollto" href="#services">Careers</a></li>
                  <li><div class="responsive-menu-div text-center"><img src="assets/img/Frame 24.png" class="responsive-menu-div"><img src="assets/img/twitter.png" class="responsive-menu-div"><br> <img src="assets/img/button (6).png"></div></li>
                  
               </ul>
              
               <div class="d-flex mobile-responsiv"><img src="assets/img/Frame 24.png" class="responsive-discord"><img src="assets/img/burger.png" class="bi bi-list mobile-nav-toggle"></div>
            </nav>
            <!-- .navbar -->
            <div class="discord"><img src="assets/img/discord.png" class="discord-img" style="width: 93px;height: 107px;"></div>
            <div class="twiter">
               <img src="assets/img/twitter.png">
            </div>
            <div class="connect-wallete"><a class="getstarted scrollto" href="#about"><img src="assets/img/button.png" style="
               width: 149px;
               height: 47px;
               "></a></div>
         </div>
      </header>
      <!-- End Header -->
      <!-- ======= Hero Section ======= -->
     
      <div class="main-hero">
      <section id="hero" class="d-flex align-items-center">           
         <div class="bg-video-wrap">
            <video src="assets/img/dancing-desktop-5.mp4" loop muted autoplay>
            </video>
            <h1 class="Fullscreen">Legendary <br>title is here
            <div class="hero-icon-btn"><img src="assets/img/Vector 3.png" ></div>
            </h1>
            <img src="assets/img/graphic_wave.png"  class="desk-curve">
            <img src="assets/img/graphic_wave (6).png"  class="responsiv-curve">
         </div>
      </section>
      </div>
     
      <!-- End Hero -->
      <main id="main">
         <!-- ======= Counts Section ======= -->
         <div class="count-bg-gredinat">
         <section id="counts" class="counts section-bg">
          <div class="row justify-content-center">
               <div class="col-xl-3 col-lg-9 text-center">
                  <h1 class="count-respnsive">Legendary <br>title is here</h1>
               </div>
            </div>
            <div class="bg-frame">
               
                  <!--<a href="#about" class="btn-get-started scrollto count-respnsive"><img src="assets/img/herobtn.png"></a>-->
               <div class="">
                  <div class="row row-width justify-content-end align-items-center justify-content-center" >
                     <div class="col-lg-6 col-md-6">
                        <h1 class="text-white responsive-text text-first">Bring nft<br> to life</h1>
                        <p class="text-white">
                           Lorem ipsum dolor sit amet consectetur. Arcu elementum diam ultricies eros nunc sem. Urna nec cursus enim in convallis eget ante sed. Lorem ipsum dolor sit amet consectetur.
                        </p>
                        <img src="assets/img/button (7).png" class="btn-res">
                     </div>
                     <div class="col-lg-6 col-md-6 text-end">
                        <img src="assets/img/doodle-pose-rifle.png" class="doodle-pose-rifle" alt="">
                     </div>
                  </div>
               </div>
               <div class="light-bg-3">
               <div class="bg-purple-main">
                  <div class="bg-purple-inner">
                     <div class="container">
                        <div class="row title-bg">
                           <div class="cl-lg-12 ">
                              <h1 class="text-center">
                                 We are RONS
                              </h1>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12 text-center">
                              <p class="text-white main-p">
                                 Lorem ipsum dolor sit amet consectetur. Arcu elementum diam ultricies eros nunc sem. Urna nec cursus enim in convallis eget ante sed. Lorem ipsum dolor sit amet consectetur.
                              </p>
                           </div>
                        </div>
                        <div class="row icon-box-row">
                           <div class="col-lg-4 text-center text-white icon-box" >
                              <img src="assets/img/apple-icon.png">
                              <p class="heading">nft comes <br>to life</p>
                              <p>Lorem ipsum dolor sit amet consectetur. Arcu <br>elementum diam ultricies eros nunc sem.</p>
                           </div>
                           <div class="col-lg-4 text-center text-white icon-box" style="
                              background-image: url(assets/img/line.png);
                              background-repeat: no-repeat;
                              ">
                              <img src="assets/img/bag-icon.png">
                              <p class="heading">decentralized <br>library</p>
                              <p>Lorem ipsum dolor sit amet consectetur. Arcu <br>elementum diam ultricies eros nunc sem.</p>
                           </div>
                           <div class="col-lg-4 text-center text-white icon-box" style="
                              background-image: url(assets/img/line.png);
                              background-repeat: no-repeat;
                              ">
                              <img src="assets/img/file-icon.png">
                              <p class="heading">software<br> development kit</p>
                              <p>Lorem ipsum dolor sit amet consectetur. Arcu<br> elementum diam ultricies eros nunc sem.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               </div>
            </div>
         </section>
         </div>
         <!-- End Counts Section -->
         <!-- ======= About Video Section ======= -->
         <!-- End About Video Section -->
         <!-- ======= Clients Section ======= -->
         
         <div><div id="clients" class="clients section-bg">
             
            <div class="container">
               <div class="row title-bg2">
                  <div class="cl-lg-12 ">
                     <h1 class="text-center">
                        Upcoming games
                     </h1>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12 text-center mt-2">
                     <p class="text-white main-p">
                        Lorem ipsum dolor sit amet consectetur. Arcu elementum diam ultricies eros nunc sem. Urna nec cursus enim in convallis eget ante sed. Lorem ipsum dolor sit amet consectetur.
                     </p>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12">
                     <div><img src="assets/img/game-img.png" class="first-img "></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-6 other-img-col">
                     <img src="assets/img/card_default.png" class="other-img">
                  </div>
                  <div class="col-lg-6 other-img-col ">
                     <img src="assets/img/card_default-1.png" class="other-img">
                  </div>
               </div>
               <div class="row">
                  <dir class="col-gl-12">
                     <div class="more-game-btn">MORE GAMES COMING SOON</div>
                  </dir>
               </div>
            </div>
            <div class="form-section-bg-purple-main">
               <div class="form-section-bg-purple-inner">
                  <div class="container">
                      <div class="curve-bg">
                     <div class="row">
                        <div class="col-lg-6 col-md-6 text-start">
                           <h1 class="text-white">You have NFT <br>project?</h1>
                           <p class="text-white">
                              Lorem ipsum dolor sit amet consectetur. Arcu elementum diam ultricies eros nunc sem. Urna nec cursus enim in convallis eget ante sed. Lorem ipsum dolor sit amet consectetur.
                           </p>
                        </div>
                        <div class="col-lg-6 col-md-6 ">
                           <div class="form-box text-start text-white">
                              <h4>Signup and bring them to life</h4>
                             
                              <div class="form-item">
                                <input type="text"  id="name"  name="name" required/>
                                <label for="username">Name</label>
                              </div>
                              <div class="form-item">
                                <input type="email"  id="email" name="email" required />
                                <label for="email">Email</label>
                              </div>
                              <button id="submit" class="submit_button" >
                                <img src="assets/img/button_white.png" class="desktop-btn">
                                <img src="assets/img/form-responsive-btn.png" class="responsiv-btn">
                               </button>
                               <span class="loader"></span>          
                               <span id="response_text"></span>
                             
                           </div>
                        </div>
                     </div>
                     </div>
                  </div>
               </div>
            </div>
            </div>
         </div>
          <div class="gb-grediant">
         <section id="trusted-psartners" class="trusted-psartners section-bg">
            <div class="container">
               <div class="row title-bg3">
                  <div class="cl-lg-12 ">
                     <h1 class="text-center">
                        Trusted Partners
                     </h1>
                  </div>
               </div>
               <div class="row text-center">
                  <div class="col-lg-2 mt-5">
                  </div>
                  <div class="col-lg-2 mt-5">
                     <img src="assets/img/partner-logo1.png">
                  </div>
                  <div class="col-lg-2 mt-5">
                     <img src="assets/img/partner-logo2.png">
                  </div>
                  <div class="col-lg-2 mt-5">
                     <img src="assets/img/partner-logo3.png">
                  </div>
                  <div class="col-lg-2 mt-5">
                     <img src="assets/img/partner-logo4.png">
                  </div>
                  <div class="col-lg-2 mt-5">
                  </div>
               </div>
            </div>
         </section>
         </div>
      </main>
      <!-- End #main -->
      <!-- ======= Footer ======= -->
      <div class="footermain-div">
      <footer id="footer">
          <div class="">
              <div class="col-lg-12 text-center">
                  <img src="assets/img/logo.png">
              </div>
          </div>
         <div class="footer-top">
            <div class="container">
               <div>
                  <div class="row">
                     <div class="col-lg-6">
                        <div class="me-md-auto text-center text-md-start">
                           <div class="copyright">
                              <ul class="footer-menu">
                                 <li><a class="nav-link scrollto" href="#hero">Whitepaper</a></li>
                                 <li><a class="nav-link scrollto" href="#about">Blog</a></li>
                                 <li><a class="nav-link scrollto" href="#services">Careers</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 text-end">
                        <div class="social-links  text-md-right pt-3 pt-md-0">
                           <img src="assets/img/footer-discord.png">&nbsp;&nbsp;
                           <img src="assets/img/footer-twitter.png">
                        </div>
                     </div>
                  </div>
                  <hr>
                  <div class="row">
                     <div class="col-lg-6 order2">
                        <div class="me-md-auto text-center text-md-start">
                           <div class="copyright text-white">
                              <span>Copyright © 2023</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 order1">
                        <div class="bottum-footer-list">
                           <span><a href="#">Privacy Policy</a></span>&nbsp;&nbsp;&nbsp;
                           <span><a href="#">Terms of Service</a></span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      </div>
      <!-- End Footer -->
      <div id="preloader"></div>
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/assets/js/script.js"></script>
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Template Main JS File -->
      <script src="assets/js/main.js"></script>
   </body>
</html>